<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="org.testng"> <!--specify base package -->
        <parameter name="openApiUrl" value="http://localhost:9010/v3/api-docs/"/>
        <!--<groups>
            <define name = "all">
                <include name = "apiTestMethod"/>
            </define>
            <run>
                <include name = "all"/>
            </run>
        </groups>-->

        <classes>
            <!-- specify one or more test class -->
            <!--<class name="org.testng.test.SampleTest"/> -->
            <class name="org.testng.test.GenericTest"/>
        </classes>
    </test>
</suite>
